:root {
    --gray-dark: #595653;
    --black: #313131;
    --black-button: #1F1F1F;
    --white: #fff;
    --red: #F54932;
    --blue: #3057A2;
    --brown: #E9DED4;
    --gray: #D0D0D0;
    --yellow: #FBCE51;
    --disabled: #D6D6D6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
p,
span {
    margin: 0;
}

section {
    padding: 0 72px;
}

#show {
    display: none;
}

section:first-child {
    background-image: url(assets/main.png);
    background-position: right bottom;
    background-size: cover;
    padding: 26px 72px;
    height: 700px;
}

header {
    margin-bottom: 62px;
}

header h2 {
    font-family: "Golos Text";
    font-size: 16.65px;
    font-weight: 700;
    line-height: 17.98px;
    letter-spacing: 0.01em;
    text-align: left;
    text-transform: uppercase;
    color: var(--gray-dark);
}

.logo {
    display: flex;
    flex-direction: row;
    width: 70px;
}

main {
    width: 542px;
    display: flex;
    flex-direction: column;
    gap: 24px 40px;
}

h1 {
    font-family: 'Merriweather';
    font-size: 60px;
    font-weight: 400;
    line-height: 66px;
    text-align: left;
    text-transform: uppercase;
}

h1 span:nth-child(2) {
    margin-left: 91px;
}

h1 span:nth-child(3) {
    margin-left: 30px;
}

p {
    font-family: 'Golos Text';
    font-size: 18px;
    font-weight: 400;
    line-height: 23.4px;
    text-align: center;
}

a {
    width: 263px;
    padding: 20px 49px;
    border-radius: 66px;
    font-family: 'Golos Text';
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    border: 2px solid var(--black-button);
    text-decoration: none;
}

a.black {
    color: var(--white);
    background-color: var(--black-button);
    transition: all 0.5s ease;
}

a.black:hover {
    color: var(--black-button);
    background-color: var(--yellow);
    border-color: var(--yellow);
}

a.white {
    color: var(--black);
    background-color: transparent;
    transition: all 0.5s ease;
}

a.white:hover {
    color: var(--white);
    background-color: var(--black-button);
}

.row {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

header.row {
    gap: 6px;
}

.ticker {
    position: absolute;
    width: 100vw;
    left: 0;
    background: var(--red);
    color: var(--white);
    font-family: 'Merriweather';
    font-size: 22px;
    font-weight: 400;
    line-height: 24.2px;
    text-transform: uppercase;
    height: 60px;
    overflow: hidden;
}

section:first-child .ticker {
    top: 700px;
}

.ticker__in {
    display: flex;
    width: fit-content;
    animation: ticker 10s linear infinite;
    text-align: center;
    height: 100%;
}

.ticker__item {
    padding: 0 6px;
    white-space: nowrap;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes ticker {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

section:nth-child(2) {
    margin-top: 140px;
    margin-bottom: 200px;
}

h2 {
    font-family: 'Merriweather';
    font-size: 36px;
    font-weight: 400;
    line-height: 48.6px;
    text-align: left;
    text-transform: uppercase;
    max-width: 764px;
    text-wrap: wrap;
}

.red {
    font-family: 'Merriweather';
    font-size: 36px;
    font-weight: 700;
    line-height: 48.6px;
    text-align: left;
    text-transform: uppercase;
    color: var(--red);
}

.chess-play {
    width: 394px;
}

.man {
    width: 500px;
    margin: auto;
}

.man-table {
    padding-top: 64px;
    display: grid;
    grid-template-columns: max-content auto;
    gap: 44px;
}

.table {
    display: flex;
    flex-direction: column;
}

table {
    padding: 60px 0 48px;
    max-width: 704px;
}

tr td {
    font-family: 'Golos Text';
    font-size: 20px;
    line-height: 24px;
    text-align: left;
}

tr td:first-child {
    font-weight: 400;
    color: var(--gray);
    width: calc(290px + 16px);
    padding: 16px 16px 16px 0;
    border-bottom: 2px solid var(--gray);
    border-right: 2px solid var(--gray);
}

table tr:first-child td {
    padding-top: 0;
}

tr td:last-child {
    font-weight: 600;
    color: var(--black);
    width: 398px;
    padding: 16px 0 16px 16px;
    border-bottom: 2px solid var(--gray);
}

del {
    text-decoration: line-through;
    text-decoration-color: var(--red);
    padding-right: 12px;
}

table tr:last-child td {
    border-bottom: none;
    padding-bottom: 0;
}

.blue {
    color: var(--blue);
    font-family: 'Golos Text';
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

section:nth-child(3) {
    margin-bottom: 140px;
}

h3 {
    font-family: 'Merriweather';
    font-size: 54px;
    font-weight: 400;
    line-height: 64.8px;
    text-align: left;
    color: var(--black);
    padding-bottom: 54px;
    max-width: 705px;
}

h3>span.blue {
    width: 280px;
    position: absolute;
    margin: 11px 0 0 20px;
    line-height: 24px;
}

.blocks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.block {
    background-image: url(assets/paper.png);
    padding: 20px;
}

.block .row {
    gap: 16px;
    flex-wrap: nowrap;
}

.block p {
    color: var(--black);
    font-family: 'Golos Text';
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
}

.number {
    background-color: var(--white);
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
}

.number p {
    font-family: 'Golos Text';
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    padding: 12px 11px;
}

.block.third {
    grid-row: span 2;
}

.block.seventh {
    grid-column: span 2;
}

.block.seventh p {
    max-width: 446px;
}

#invisible {
    min-width: 350px;
}

.plane {
    position: absolute;
    right: 0;
}

#navigation-dots {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.dot {
    width: 12px;
    height: 12px;
    background-color: var(--gray);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.dot.active {
    background-color: var(--black);
    transition: background-color 0.5s ease;
}

#fifth-section {
    margin-bottom: 200px;
}

.row.nav {
    justify-content: space-between;
    padding: 60px;
}

.row.nav h3 {
    padding: 0;
}

nav.row {
    gap: 14px;
    align-items: center;
    justify-content: center;
}

nav button {
    width: 44px;
    height: 44px;
    background-color: var(--black);
    border-radius: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    transition: all 0.5s ease;
}

nav button:hover {
    background-color: var(--yellow);

}

nav button:disabled {
    background-color: var(--disabled);
}

nav p span:last-child {
    opacity: 60%;
}

button.blue {
    background-color: transparent;
    width: 113px;
    height: 35px;
    padding: 0 12px;
    gap: 10px;
    border-radius: 62px;
    border: 1px solid var(--blue);
    font-family: 'Golos Text';
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    text-align: left;

    transition: all 0.5s ease;
}

button.blue:hover {
    color: var(--white);
    background-color: var(--blue);
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

#cardsContainer {
    display: flex;
    overflow: hidden;
    transition: all 0.5s ease;
}

.row.cards {
    justify-content: space-around;
    overflow: hidden;
}

.card {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    animation-duration: 0.8s;
    animation-fill-mode: both;
}

.slide-left {
    animation-name: slideInLeft;
}

.slide-right {
    animation-name: slideInRight;
}

.card img {
    width: 320px;
    height: 320px;
    padding-bottom: 28px;
}

.card h4 {
    font-family: 'Golos Text';
    font-size: 24px;
    font-weight: 600;
    line-height: 28.8px;
    text-align: left;
    color: var(--black);
    width: inherit;
}

.card p {
    font-family: 'Golos Text';
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: var(--black);
    opacity: 60%;
    padding: 8px 0 20px;
    width: inherit;
}

footer {
    background-color: var(--brown);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
}

footer p {
    font-family: 'Golos Text';
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    color: var(--black);
    opacity: 60%;
    max-width: 1222px;
    margin: 40px 0 72px;
}

/* fonts + position */

@media (max-width: 1250px) {
    h1 {
        font-size: 48px;
    }

    h2,
    .red {
        font-size: 32px;
    }

    h3 {
        font-size: 45px;
    }
}

@media (max-width: 1100px) {
    section:not(:nth-child(1)) {
        display: flex;
        flex-direction: column;
        justify-content: center;

        width: 100%;
    }

    #hide {
        display: none;
    }

    #show {
        display: inherit;
    }

    a.white {
        background-color: var(--white);
        border-color: var(--white);
        opacity: 90%;
    }

    header.row {
        justify-content: left;
    }

    .row {
        flex-wrap: wrap;
        justify-content: center;
    }

    .man {
        width: calc(100vw - 40px);
        max-width: 500px;
    }

    .man-table {
        display: flex;
        flex-direction: column;
    }

    .table {
        align-items: center;
    }

    .carousel {
        position: relative;
        width: 100%;
        overflow: hidden;
        padding-top: 148px;
        padding-bottom: 28px;
    }

    .blocks {
        display: flex;
        justify-content: center;
    }

    #show.plane {
        z-index: 1;
        left: 50%;
        transform: translate(-50%);
        width: 100vw;
        max-width: 401px;
    }

    .block {
        display: none;
        animation-duration: 0.8s;
        animation-fill-mode: both;
    }

    .block.active {
        height: 300px;
        width: 350px;

        display: flex;
        flex-direction: column;
        gap: 28px;

        padding: 62px 20px 0 20px;
        transform: translateX(0);
    }

    .block.active~.block {
        display: none;
    }

    .block p {
        font-size: 18px;
        line-height: 21.6px;
    }

    .block.third,
    .block.seventh {
        grid-row: span 1;
        grid-column: span 1;
    }

    #invisible {
        display: none;
    }

    section:nth-child(3) {
        margin-bottom: 120px;
    }

    .row.cards {
        padding-bottom: 40px;
    }

    #fifth-section {
        margin-bottom: 100px;
    }
}

@media (max-width: 768px) {
    section {
        padding: 0 20px;
    }

    body section:first-child {
        height: 900px;
        padding: 20px 20px 0 20px;
        background-position: right top;
    }

    header h2 {
        font-size: 14.42px;
    }

    main {
        width: auto;
    }

    h1 {
        font-size: 36px;
        line-height: 39.6px;
        font-weight: 400;

        max-width: calc(100vw - 40px);
    }

    h1 span:nth-child(2) {
        margin-left: 63px;
    }

    p {
        max-width: calc(100vw - 40px);
    }

    a {
        width: 335px;
        padding: 18px;
    }

    .ticker {
        font-size: 16px;
        height: 38px;
    }

    section:first-child .ticker {
        top: 900px;
    }

    section:nth-child(2) {
        margin-top: 86px;
        margin-bottom: 120px;
    }

    h2 {
        max-width: calc(100vw - 40px);
    }

    h2,
    .red {
        font-size: 28px;
    }

    .chess-play {
        width: 335px;
    }

    table,
    tr,
    td {
        display: block;
        width: calc(100vw - 40px);
    }

    tr td:first-child {
        border-bottom: 0;
        border-right: none;
        padding-bottom: 0;
        padding: 0 0 12px 0;
    }

    tr td {
        border-bottom: none;
    }

    tr td:last-child {
        border-bottom: 2px solid var(--gray);
        padding: 0 0 16px 0;
        width: calc(100vw - 40px);
    }

    .blue {
        font-size: 18px;
    }

    .card {
        padding: 0;
    }

    .row.nav {
        justify-content: left;
        margin: 20px 0;
        padding: 0;
    }

    .row.nav h3 {
        padding-bottom: 40px;
    }

    h3 {
        font-size: 36px;
        line-height: 39.6px;
        padding-bottom: 12px;
    }

    footer {
        margin-top: 38px;
    }

    footer p {
        margin: 20px 20px 60px;
    }


}